@font-face {
    font-family: Chess;
    src: url('../fonts/chess.ttf');
    font-weight: normal;
    line-height: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    background: #303841;
    color: #fff;
}
#chess{
    font-size: 35px;
    font-family: Chess;
    font-weight: lighter;
    text-align: center;
}
h1, #resolves{
    text-align: center;
}
.contenedor .tablero h1{
    margin-bottom: 30px;
} 
.contenedor{
    max-width: 822px;;
    overflow: hidden;
    position: relative;
    margin: 70px auto 0 auto;
}
.contenedor .tablero .sucess-alert{
    padding: 15px 0;
    width: 70%;
    text-align:center;
    margin: 0 auto;
    background-color: #1fab89;
    border: 1px solid #0f7c61;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s linear;
    margin-top: 40px;
    display: none;
}
.contenedor .tablero .sucess-alert:hover{
    background-color:#0f7c61;
}
.contenedor .logs, .contenedor .tablero  {
    width: 410.5px;
    float: right;
}
.contenedor .logs textarea{
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 485px;
    border: 0;
    padding: 20px;
    background-color: #393e46;
    color: #c9d6df;
    border-radius: 10px;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1e2022;
    padding: 20px 0;
    font-weight: lighter;
}
footer span a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    animation: Colors 1.5s linear  infinite alternate-reverse ;
}
.controls label, input{
    display: block;
}
.controls label{
    margin: 10px 0;
    
}
.controls input[type="number"]{
    border-radius: 8px;
    border: 1px solid #384259;
    outline: none;
    padding: 4px 5px;
    text-align: center;
}
.controls .btn-more{
    padding: 10px 18px;
    color: #fff;
    border: 0;
    background-color: #07689f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color .3s linear;
}
.controls .btn-more:hover{
    background-color: #00446b;
}
.contenedor .toggle{
    display: none;
}
.contenedor .solutions{
    margin-top: 45px;
}
.contenedor .solution{
    font-family: Chess;
    display: inline-block;
    margin: 8px;
}
footer, .controls label, .controls .btn-more, .contenedor .tablero .sucess-alert, .logs h2, h1, #resolves{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: .132rem;
    letter-spacing: .100rem;
}
.logs h2, h1, #resolves{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@keyframes Colors {
    0%{
        color: #590d82;
    }

    25%{
        color: #8c82fc;
    }

    50%{
        color: #b693fe;
    }

    75%{
        color: #b61aae;
    }
}